<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TPSuiviDesRepas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AjoutRepas</servlet-name>
    <jsp-file>/WEB-INF/jsp/AjoutRepas.jsp</jsp-file>
  </servlet>
   <servlet-mapping>
    <servlet-name>AjoutRepas</servlet-name>
    <url-pattern>/AjoutRepasJSP</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SuiviDesRepas</servlet-name>
    <jsp-file>/WEB-INF/jsp/SuiviDesRepas.jsp</jsp-file>
  </servlet>
   <servlet-mapping>
    <servlet-name>SuiviDesRepas</servlet-name>
    <url-pattern>/SuiviDesRepasJSP</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>VisuRepas</servlet-name>
    <jsp-file>/WEB-INF/jsp/VisuRepas.jsp</jsp-file>
  </servlet>
   <servlet-mapping>
    <servlet-name>VisuRepas</servlet-name>
    <url-pattern>/VisuRepasJSP</url-pattern>
  </servlet-mapping>
</web-app>